@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

nav {
    font-size: 18px;
    a {
        margin-left: 30px;
        color: rgba(33,33,33,0.75);
        text-decoration: none;
        @include transition(all, .4s, ease-in-out);
        
        &:hover {
            color: orangered;
            padding-bottom: 2px;
        }
        
        &:nth-of-type(1) {
            margin-left: 0;
        }
    }
}

.buttons {
    display: block;
    float: none;
    
    button {
        display: block;
    }
}

.block {
    display: block;
    width: 300px;
    height: 250px;
    background: rgb(33,33,33);
    position: relative;
    
    img {
        width: 100%;
        height: auto;
    }
    
    button.full {
        @include moveMe(-20px, auto, auto, 20px);
        @include makeButton(0, red, 0, 100%);
        @include size(40px, 40px);
        i {
            color: white;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    button.share {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: yellow;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        
        i {
            color: black;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    button.comment {
        position: absolute;
        bottom: 60px;
        right: 20px;
        background: lime;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        
        i {
            color: blue;
            font-size: 28px;
            vertical-align: middle;
            text-align: center;
        }
    } 
}