@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

nav {
    font-size: 18px;
    a {
        margin-left: 30px;
        color: rgba(33,33,33,0.75);
        text-decoration: none;
        @include transition(all, .4s, ease-in-out);
        
        &:hover {
            color: orangered;
            padding-bottom: 2px;
        }
        
        &:nth-of-type(1) {
            margin-left: 0;
        }
    }
}

.buttons {
    display: block;
    float: none;
    
    button {
        display: block;
    }
}

.block {
    display: block;
    width: 300px;
    height: 250px;
    background: rgb(33,33,33);
    position: relative;
    
    img {
        width: 100%;
        height: auto;
    }
    
    button.full {
        @include moveMe(-20px, auto, auto, 20px);
        @include makeButton(0, red, 0, 100%);
        @include size(40px, 40px);
        i {
            color: white;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    button.share {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: yellow;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        
        i {
            color: black;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    button.comment {
        position: absolute;
        bottom: 60px;
        right: 20px;
        background: lime;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        
        i {
            color: blue;
            font-size: 28px;
            vertical-align: middle;
            text-align: center;
        }
    } 
}

@include makeCaption(600px, 300px, rgba(255, 0, 0, 0.8), rgba(255, 90, 0, 0.8), -500px, auto, auto, auto, 0px, auto, auto, auto, center, uppercase, 600, 18px, #fff, scale(1.2, 1.2));

/*figure {
    width: 600px;
    height: 300px;
    position: relative;
    overflow: hidden;

    &:hover {
        figcaption {
            top: 0px;
        }

    &:active {
        figcaption {
           background: rgba(255, 90, 0, 0.8);
           font-size: 22px;
        }
    }
        
        img {
           transform: scale(1.2,1.2);
        }
    }

    img {
        width: 100%;
        height: 100%;
        @include transition(all, .7s, ease-in-out);
    }

    figcaption {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -500px;
        background: rgba(255, 0, 0, 0.8);
        color: #fff;
        text-align: center;
        line-height: 300px;
        @include transition(all, .9s, ease-in-out);
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
*/
