doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Szybki Devtrick
    link(rel="stylesheet", href="css/main.css")
body
    .container
        header
            h1 Szybki Devtrick!
            
            nav
                a(href="#") #1 Devtrick
                        
        hr
        
        h2 Przyciski akcji z różnymi stanami w Sass!
        
        .buttons
            button.default Default
            button.warning Warning
            button.error Error
            button.success Success
                    
        